---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { AccountButton } from "@/components/account-button";
import { Toaster } from "@/components/ui/toaster";
import "@/styles/globals.css";

let pb;
let model;

let user;
let imageUrl;
try {
  pb = Astro.locals.pb;
  model = pb.authStore.model;
  if (model) {
    user = await pb.collection("users").getOne(model.id);
    const fileName = user.avatar;
    const token = pb.files.getToken();
    imageUrl = pb.files.getUrl(user, fileName, { token: token });
    // console.info(imageUrl);
  } else {
    console.error(
      "DB not connected! Maybe you forgot to start the PocketBase instance, or misconfigured the connection-string?",
      "PocketBase Instance:\n",
      pb,
      "Model:\n",
      model,
      "User:\n",
      user
    );
  }
} catch (error) {
  console.error(error);
}

---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex h-screen">
		<header class="p-3 flex flex-col gap-y-4">
			<h1>{title}</h1>
				<AccountButton
					client:load
					model={model || null}
					imageUrl={imageUrl}
				/>
			<nav>
				<ul>
				<ul class="flex flex-col gap-y-4">
					<li><a href="/" class="text-fuchsia-400">Marketing</a></li>
					<li><a href="/student" class="text-fuchsia-400">Student</a></li>
					<li><a href="/teacher" class="text-fuchsia-400">Teacher</a></li>
				</ul>
			</nav>
		</header>
		<main class="w-full">
			<slot />	
		</main>
		<Toaster client:load />
	</body>
</html>
<style is:global>
	body {
		margin: 0;
	}
</style>
